<!DOCTYPE html>
<html>
  <head>
    <title>{{titulo}}</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
